@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';

.priceHistory {
  padding: 8px;
}

.chart {
  height: 180px;
  width: 100%;
}
.priceHistory__header {
  padding-bottom: 8px;
}

.priceHistory__title {
  @include heading-large;
}
.priceHistory__subtitle {
  margin: 0;
  @include body-base;
}
// Подсветка только кверти
.priceHistory__query_wb { color: var(--color-purple); }
.priceHistory__query_ozon { color: var(--color-blue); }

.priceHistory__periods {
  display: flex;
  gap: 8px;
  padding: 4px 0 8px;
}

.priceHistory__period-btn {
  background: var(--color-bg-light);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  @include text-lg;
  @include font-medium;
  @include text-primary;
}

.priceHistory__period-btn--active {
  background: var(--color-bg-active);
  color: var(--color-text);
  border-color: var(--color-blue);
}

// Активный цвет по магазину
.priceHistory__period-btn--active_wb {
  border-color: var(--color-purple);

}

.priceHistory__period-btn--active_ozon {
  border-color: var(--color-blue);

}